

#parent{ 
border: 2px;
background-color: salmon;
height: 600px;
}
div{
div:nth-child(1) {
  background: red;
}
iv:nth-child(2) {
    background: blue;
  }
  iv:nth-child() {
    background: green;
  }
  iv:nth-child(1) {
    background: magenta;
  }
}